Repository CoderSeb/laser-pa-landet: changes, and which GitLab CI jobs are due for each by the changed paths.
All: frontend_pipeline, backend_pipeline

.gitlab-ci.yml:

stages:
  - triggers

frontend_pipeline:
  stage: triggers
  trigger:
    include: frontend/.gitlab-ci.yml
  rules:
    - changes:
        - frontend/*

backend_pipeline:
  stage: triggers
  trigger:
    include: backend/.gitlab-ci.yml
  rules:
    - changes:
        - backend/*

pipeline test 2
  backend/.gitlab-ci.yml
Due: backend_pipeline

Pipeline test 3
  backend/.gitlab-ci.yml
Due: backend_pipeline

Pipeline test 4
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 5
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

pipeline test 6
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 7
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 8
  .gitlab-ci.yml
Due: none

Pipeline test 9
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 10
  .gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline

Pipeline test 11
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 12
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 13
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 14
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 15
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 16
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 17
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 18
  backend/.gitlab-ci.yml
  backend/package-lock.json
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 19
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 20
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
  frontend/src/Sample.test.js
Due: frontend_pipeline, backend_pipeline

Pipeline test 21
  .gitlab-ci.yml
  backend/.gitlab-ci.yml
  frontend/.gitlab-ci.yml
Due: frontend_pipeline, backend_pipeline

Pipeline test 22
  .gitlab-ci.yml
Due: none

Pipeline test 23, almost there...
  .gitlab-ci.yml
Due: none

Pipeline test 24
  .gitlab-ci.yml
  backend/package.json
Due: backend_pipeline

Pipeline test 25
  backend/src/tests/admin.routes.test.js
  backend/src/tests/email.routes.test.js
Due: none

Pipeline test 26
  backend/package.json
  backend/src/tests/admin.routes.test.js
  backend/src/tests/email.routes.test.js
Due: backend_pipeline

Pipeline test 27
  .gitlab-ci.yml
  backend/package.json
  backend/src/controllers/admin-auth-controller.js
Due: backend_pipeline

Pipeline test 27
  .gitlab-ci.yml
Due: none

Pipeline test, 29?
  .gitlab-ci.yml
Due: none

Pipeline test 30
  backend/package.json
  backend/src/tests/email.routes.test.js
Due: backend_pipeline

This could work! Pipeline test 31
  .gitlab-ci.yml
Due: none

Pipeline test 31
  backend/package.json
  backend/src/tests/admin.routes.test.js
  backend/src/tests/email.routes.test.js
Due: backend_pipeline

Pipeline test 32, or 132.. who knows..
  .gitlab-ci.yml
Due: none

Modified testServer.js, Pipeline test again...
  backend/src/tests/testServer.js
Due: none

Another pipeline test..
  backend/package.json
Due: backend_pipeline

Changed some echo's in pipelines.
  .gitlab-ci.yml
  backend/package.json
Due: backend_pipeline

Changed some echo's in pipelines 2.
  .gitlab-ci.yml
Due: none

Testing testing my sanity
  .gitlab-ci.yml
Due: none

Continue with pipeline tests... Tried removing variables from .yml file
  .gitlab-ci.yml
Due: none

Modified admin tests, closing db connection after each test
  .gitlab-ci.yml
  backend/src/tests/admin.routes.test.js
Due: none

Testing only sample test for backend
  backend/src/tests/Sample.test.js
  backend/src/tests/admin.routes.js
  backend/src/tests/email.routes.js
Due: none
